body {
  background-image: url(assets/iroda2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
h1,h4{
  text-align: center;
}