/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html,body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
body {
	line-height: 1;
}
/*===Background===*/

@media (max-width: 800px){
  body {
  background-color: aliceblue;
  background-image: url(assets/iroda2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  }
}

/* ==== Card ==== */

.profile-card{
  text-align: center;
  padding-top: 1.5625rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

img:hover {
  transform: scale(0.7);
  transition: all 0.5s ease-in-out;
  filter: grayscale(5%);
}
img {
  width: 9.375rem;
  height: auto;
  border-radius: 0.625rem;
  padding: 1.25rem;
  filter: grayscale(1%);
}

/* ==== Head ==== */

.name {
  padding-top: 1.25rem;
  margin-bottom: 3.125rem;
}
h1,h2 {
  text-align: center;
  color: rgba(63, 95, 255, 0.8);
}
h1 {
  font-size: 1.25rem;
}
h2 {
  font-size: 0.9375rem;
}

/* ==== Font Styles ==== */

h1,h2 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Slabo 27px', serif;
}

/* ==== Content ==== */

p {
  padding-top: 4.375rem;
}

/*Contact links*/
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.social-icon {
  color: dodgerblue;
}
.contact {
  padding: 5% 10%;
}



/* ==== Media up to 800px ==== */

@media (min-width: 800px){
  body {
  background-color: aliceblue;
  background-image: url(assets/iroda2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  }
}

@media (min-width: 800px){
  .profile-card {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin-top: 1.875rem;
  }
}

@media (min-width: 800px){
  p {
    text-align: center;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }
}
